
<div *ngIf="question">
    <h2><span>Question</span> {{question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{question.title}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{question.description}}</span>
        </dd>
        <dt><span>Is Open</span></dt>
        <dd>
            <span>{{question.isOpen}}</span>
        </dd>
        <dt><span>Rate</span></dt>
        <dd>
            <span>{{question.rate}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'question/'+ question.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
