
<div *ngIf="user">
    <h2><span>User</span> {{user.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Role</span></dt>
        <dd>
            <span>{{user.role}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{user.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{user.lastName}}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
            <span>{{user.isActive}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{user.email}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{user.password}}</span>
        </dd>
        <dt><span>Login</span></dt>
        <dd>
            <span>{{user.login}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user/'+ user.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
