<div>
    <h2>
        <span>Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-user" [routerLink]="['/', { outlets: { popup: ['user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Role</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Is Active</span></th>
            <th><span>Email</span></th>
            <th><span>Password</span></th>
            <th><span>Login</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users ;trackBy: trackId">
                <td><a [routerLink]="['../user', user.id ]">{{user.id}}</a></td>
                <td>{{user.role}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.isActive}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.login}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user', user.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user/'+ user.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user/'+ user.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
